<h1>Badges</h1>
<h2>All badges</h2>

<table class="table">
  <tr>
    <td>Name</td>
    <td>Image</td>
  </tr>
  <%= render @badges %>
</table>

<h2>Your badges</h2>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Image</th>
  </tr>
    <%= render @received_badges %>
</table>
